<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/login.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap"
            rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    
    </head>
<body>
    <header>
        <section class="primeraSeccionHeader">
            <img class="Logo-ml" src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <section class="barra-busqueda-icono">
                <input class="barra-busqueda" placeholder="Buscar productos, marcas" type="text">
                <i class="fa-solid fa-magnifying-glass" id="icono-lupa"></i>
            </section>
            <p class="advertencia-compra-cuotas1"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
                tarjeta de crédito</p>
        </section>
        <p class="advertencia-compra-cuotas2"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
            tarjeta de crédito</p>
        <section class="segundaSeccionHeader">
            <div class="navbar">
                <ul class="primera-lista">
                    <li><a href="ofertas.html">Ofertas</a></li>
                    <li><a href="tiendas-oficiales.html">Tiendas Oficiales</a></li>
                    <li><a href="vender.html">Vender</a></li>
                    <li><a href="ayuda.html">Ayuda</a></i></li>
                </ul>
                <ul class="segunda-lista">
                    <li id="hola">
                        <a href="crear-cuenta.html">Creá tu Cuenta</a>
                        <i class="fa-solid fa-address-card"></i>
                    </li>
                    <li>
                        <a href="login.html">Ingresá</a>
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </li>
                    <li>
                        <a href="mis-compras.html">Mis Compras</a>
                        <i class="fa-solid fa-basket-shopping"></i>
                    </li>
                </ul>
            </div>
        </section>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        </section>
    </header>
    <main>
    <form action="/" method="GET" class="formulario" class="formulario">    
        <section class = "partes-formulario">
            <input class="input-formulario" type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Nombre de Usuario" />
        </section>  
        <section class = "partes-formulario">  
             <input class="input-formulario" type="password" name="contraseña" id="contraseña" placeholder="Contraseña" />
        </section>    
        <section class = "partes-formulario">   
            <button class="boton-formulario" type="submit" class="botonEnviar">Enviar</button>
        </section> 
    </form>
    </main>
        <footer>
            <section class ="footerClase">
                <section class="pago-con-tarjeta">
                    <i class="fa-sharp fa-solid fa-credit-card"></i>
                    <h3>Pagá con tarjeta con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o 
                    efectivo en puntos de pago.¡Y siempre es seguro!</p>
                </section>
             
                <section class="envio-gratis">
                    <i class="fa-solid fa-gift"></i>
                    <h3>Envío gratis desde los $ 2.500</h3>
                    <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos.
                        Es un beneficio de Mercado Puntos
                </p>
                </section>
               
                <section class="seguridad-principio">
                    <i class="fa-solid fa-user-shield"></i> 
                    <h3>Seguridad de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre 
                        no hay nada que no puedas hacer porque estás siempre 
                        protegid@.
                </p>
                </section>
              
            </section>  
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
            </footer>             
    
</body>
</html>
